* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
.entry {
  padding: 0.5rem;
}
.input {
  width: 15rem;
  padding: 0.5rem;
}
#btn {
  padding: 1rem;
  background-color: gray;
  color: white;
  text-align: center;
  width: 15rem;
  border-radius: 15px;
}
table,
th,
td {
  border: 1px solid lightblue;
  border-collapse: collapse;
  padding: 0.4rem;
  text-align: center;
}

td {
  text-align: center;
}
